{% extends "main/layout.html" %} {% block title %}Поиск пользователя{% endblock %} {% block body %}
<div class="form-container">
	<h1 class="form-heading">Вв<span class="pixeled">е</span>дит<span class="pixeled">е</span> ваш<span class="pixeled">е</span> имя</h1>
	<form method="post" novalidate>
		{% csrf_token %}

		<div class="input-validation">
			{{form.name}}

			<span class="error">{{form.name.errors}}</span>
		</div>

		<button class="form-button" type="submit">Отправить</button>
	</form>
</div>
{% endblock %}
