* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	height: 100vh;
	background: #e7e3fc;
	background: radial-gradient(circle, rgba(231, 227, 252, 1) 0%, rgba(189, 189, 189, 1) 45%, rgba(153, 153, 153, 1) 100%);
}

.form-heading {
	font-size: 40px;
	color: #696969;
	text-shadow: 0px 3px 4px #696969;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 20px;
}

form {
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 10px;
}

.input-validation {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
}

.error {
	color: red;
	font-size: 15px;
	font-weight: bold;
}

.form-input {
	width: 300px;
	height: 100%;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #696969;

	background-color: #e7e3fc;
	font-weight: 600;
	color: #696969;
	transition: all 0.1s ease-in-out;

	box-shadow: 0px 5px 0px #696969;
}

.form-input-bounce {
	transform: translateY(4px);
	box-shadow: 0px 0px 0px #696969;
	opacity: 0.8;
	transition: all 0.1s ease-in-out;
}

.form-input:focus-visible {
	outline: none;
	border: 2px solid #696969;
}

.form-button {
	width: 100%;
	border-radius: 10px;
	border: 2px solid #696969;

	background-color: #e7e3fc;
	font-size: 20px;
	font-weight: 600;
	color: #696969;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	box-shadow: 0 5px 0 #696969;
	padding: 10px 10px 8px 10px;
}

.form-button:hover {
	transform: translateY(-1px);
	opacity: 0.8;
	transition: all 0.1s ease-in-out;
}

.form-button:active {
	transform: translateY(2px);
	box-shadow: 0 0 0 #696969;

	transition: all 0.1s ease-in-out;
}

.founded-name {
	background: radial-gradient(circle at 30% 50%, #d6cfc7, #b8b1a9, #9f978e, #cfc7bd, #e7e0d8);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: gradient 6s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;

	text-shadow: none;
	transition: all 0.1s ease-in-out;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	75% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.back-to-home {
	color: #69696998;
	font-size: 20px;
	font-weight: 600;
	text-shadow: 0px 3px 4px #696969;
	margin-top: 20px;

	transition: color 0.2s ease-in-out;
}

.back-to-home:hover {
	color: #696969;
}
